%tr{ :class => [team.category_abbrev_with_gender, team.category_abbrev].uniq.join(" ") }
  %td.center_align= fixed_number_or_empty team.position
  %td.center_align= team.category_abbrev_with_gender
  %td= team.name
  %td.center_align= fixed_number_or_empty team.laps_total
  %td.center_align= fixed_number_or_empty team.bonuses_total
  %td.center_align= fixed_number_or_empty team.penalties_total
  %td.center_align
    %b= fixed_number_or_empty team.points_total
