%p.center_align.small
  %i Leader Board stays up-to-date automatically - No need to refresh the page 
%hr
%h2 2010 Teams
%p#show
  = link_to "All", "#", :class => "first current"
  = link_to "A Team", "#", :"data-category" => "A"
  = link_to "B Team", "#", :"data-category" => "B"
  = link_to "Solo", "#", :"data-category" => "S"
  = link_to "Solo (M)", "#", :"data-category" => "M"
  = link_to "Solo (F)", "#", :"data-category" => "F"
  = link_to "Tandem", "#", :class => "last", :"data-category" => "T"
.clear
%p
  %b#teams_count= pluralize @teams.size, "Team"
%table{:width => "100%"}
  %col{:width => "8%"}
  %col{:width => "10%"}
  %col{:width => "*"}
  %col{:width => "10%"}
  %col{:width => "10%"}
  %col{:width => "10%"}
  %col{:width => "10%"}
  %thead
    %tr
      %th.center_align{:scope => "col"} POS#
      %th.center_align{:scope => "col"} Class
      %th{:scope => "col"} Team Name
      %th.center_align{:scope => "col"} Laps
      %th.center_align{:scope => "col"} Bonus
      %th.center_align{:scope => "col"} Penalty
      %th.center_align{:scope => "col"} 
        %b Total
  %tbody#teams
    = render @teams

- content_for :sidebar do
  %h3 Current Leaders
  #leaders
    %p
      %span A Team:
      %b <br />Blah blah blah 
    %p
      %span B Team:
      %b <br />We rock
      %b <br />TIED!
    %p
      %span Solo:
      %b <br />Yea, I'm in FIRST
    %p
      %span Tandem:
      %b <br />Twos Better Than One
  = render "shared/sidebar"

- content_for "js" do
  = javascript_include_merged "leader_board"
