%h2 #{@race.year} Leader Board

= raw @race.description

%p#show
  = link_to "All", "#", :class => "first current"
  = link_to "A Team", "#", :"data-category" => "A"
  = link_to "B Team", "#", :"data-category" => "B"
  - if @race.year >= 2018
    = link_to "Convoy", "#", :"data-category" => "C"
    = link_to "Elder", "#", :"data-category" => "E"
  = link_to "Solo", "#", :"data-category" => "S"
  - if @race.year > 2009
    = link_to "Solo (M)", "#", :"data-category" => "M"
    = link_to "Solo (F)", "#", :"data-category" => "F"
  = link_to "Tandem", "#", :class => "last", :"data-category" => "T"
.clear
%p
  %b#teams_count= pluralize @teams.size, "Team"
%table#leader-board{:width => "100%"}
  %thead
    %tr
      %th{:scope => "col"} POS#
      %th{:scope => "col"} Class
      %th{:scope => "col"} Team Name
      %th{:scope => "col"} Laps
      %th{:scope => "col"} Miles
      %th{:scope => "col"} Bonus
      - if @race.year > 2009
        %th{:scope => "col"} Penalty
      %th{:scope => "col"} 
        %b Total
  %tbody#teams
    = render @teams
  %tfoot
    %tr
      %th
      %th
      %th
      %th #{@race.total_laps} Laps!
      %th #{@race.total_miles} Miles!
      %th
      - if @race.year > 2009
        %th
      %th

- content_for :sidebar do
  - if @race.running?
    %h3 Current Leaders
    #leaders
      %p
        %span A Team:
        %br
        %b#a_leader
      %p
        %span B Team:
        %br
        %b#b_leader
      %p
        %span Solo (male):
        %br
        %b#m_leader
      %p
        %span Solo (female):
        %br
        %b#f_leader
      %p
        %span Tandem:
        %br
        %b#t_leader

  - if @race.finished?
    %h3 Winners
    #leaders
      %p
        %span A Team:
        %br
        #a_winners
      %p
        %span B Team:
        %br
        #b_winners
      - if @race.year > 2009
        %p
          %span Solo (male):
          %br
          #m_winners
        %p
          %span Solo (female):
          %br
          #f_winners
      - else
        %p
          %span Solo:
          %br
          #s_winners
      %p
        %span Tandem:
        %br
        #t_winners


  = render "shared/sidebar"

- content_for :js do
  = javascript_include_tag "leader_board"
