%h2 #{@race.year} Lap Times
%h3
  = @team.position_and_name
  \-
  = @team.category

%p
  = pluralize(@team.laps_total, "lap") + ","
  = pluralize(@team.bonuses_total, "bonus lap") + ","
  = pluralize(@team.penalties_total, "lost lap") + ","
  %b= pluralize(@team.points_total, "total lap")

%p= link_to raw("&laquo; Back to Leader Board"), leader_board_path(@race.year)

- if current_user.try(:has_role?, :superuser)
  %p
    = link_to "New Bonus", new_point_path(:point => { :team_id => @team.id, :category => "Bonus" })
    |
    = link_to "New Penalty", new_point_path(:point => { :team_id => @team.id, :category => "Penalty" })
    |
    = link_to "New Lap", new_point_path(:point => { :team_id => @team.id, :category => "Lap" })

%table#lap-times
  %thead
    %tr
      %th Lap Number
      %th Since Last Lap
      %th Since Start of Race
      - if current_user.try(:has_role?, :superuser)
        %th{:colspan => "2"}
  %tbody
    - last_lap = nil
    - @team.points.select(&:lap?).each_with_index do |lap, i|
      %tr
        %td= i+1
        %td= lap.since_last(last_lap)
        %td= lap.since_start
        - if current_user.try(:has_role?, :superuser)
          %td.ceebox= link_to "", [:edit, lap], :title => "Edit Score", :rel => "modal: true width:500 height:200", :class => "edit"
          %td= button_to "", lap, :class => "delete", :method => :delete, :confirm => "Are you sure?"
      - last_lap = lap

  
%table#bonuses
  %thead
    %tr
      %th{:colspan => "2"} Bonuses
      - if current_user.try(:has_role?, :superuser)
        %th{:colspan => "2"}
  %tbody
    - @team.points.select(&:bonus?).each_with_index do |bonus, i|
      %tr
        %td
          - if @race.year >= 2012
            = current_race.bonuses[bonus.bonus_id][:name]
          - else
            Bonus
            = i+1
        %td= bonus.qty
        - if current_user.try(:has_role?, :superuser)
          %td.ceebox= link_to "", [:edit, bonus], :title => "Edit Score", :rel => "modal: true width:500 height:200", :class => "edit"
          %td= button_to "", bonus, :class => "delete", :method => :delete, :confirm => "Are you sure?"
  %tfoot
    %tr
      %th Total:
      %th= @team.bonuses_total
      - if current_user.try(:has_role?, :superuser)
        %th{:colspan => "2"} 
  
%table#penalties
  %thead
    %tr
      %th{:colspan => "2"} Penalties
      - if current_user.try(:has_role?, :superuser)
        %th{:colspan => "2"}
  %tbody
    - @team.points.select(&:penalty?).each_with_index do |penalty, i|
      %tr
        %td
          Penalty
          = i+1
        %td= penalty.qty
        - if current_user.try(:has_role?, :superuser)
          %td.ceebox= link_to "", [:edit, penalty], :title => "Edit Score", :rel => "modal: true width:500 height:200", :class => "edit"
          %td= button_to "", penalty, :class => "delete", :method => :delete, :confirm => "Are you sure?"

%hr.clear      

= link_to raw("&laquo; Back to Leader Board"), leader_board_path(@race.year)

- content_for :js do
  :javascript
    $(function() {
      $("#content").css("width", "100%");
    });
  -# = javascript_include_tag "points"
