%h2 #{@race.year} Lap Times
%h3= @team.position_and_name

%p

%table#lap-times
  %col{:width => "80"}
  %col{:width => "120"}
  %tbody#teams
    - last_point = nil
    - @team.points.select(&:lap?).each_with_index do |point, i|
      %tr
        %td Lap #{i+1}
        %td= point.since_start
        %td= point.since_last(last_point)
      - last_point = point
      
= link_to "&laquo; Back to Leader Board", leader_board_path(@race.year)
