%tr[point]{ :class => point.category.downcase }
  %td.center_align= fixed_number_or_empty point.team_position, :size => 3
  %td.center_align.sort= point.since_start
  %td.center_align= point.category
  %td.center_align= point.qty
  %td.center_align= point.total_laps
  %td= point.team_name
  %td.edit.ceebox= link_to "", [:edit, point], :title => "Edit Score", :rel => "modal: true width:500 height:200"
  %td.delete= button_to "", point, :method => :delete, :confirm => "Are you sure?"
