= content_for :css do
  = stylesheet_link_tag "bonus_logger"

%h3 Bonus Logger - #{@checkpoint.name}

= mockup_form_for do |form|
  .bonus-fields
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "1"
    .field
      = form.check_box :pos_2
      = form.label :pos_2, "2"
    .field
      = form.check_box :pos_3
      = form.label :pos_3, "3"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "4"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "5"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "6"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "7"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "8"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "9"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "10"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "11"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "12"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "13"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "14"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "15"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "16"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "17"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "18"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "19"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "20"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "21"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "22"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "23"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "24"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "25"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "26"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "27"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "28"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "29"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "30"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "1"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "2"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "3"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "4"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "5"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "6"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "7"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "8"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "9"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "10"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "11"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "12"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "13"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "14"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "15"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "16"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "17"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "18"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "19"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "20"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "21"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "22"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "23"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "24"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "25"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "26"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "27"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "28"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "29"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "30"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "1"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "2"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "3"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "4"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "5"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "6"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "7"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "8"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "9"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "410"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "411"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "412"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "413"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "414"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "415"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "416"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "417"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "418"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "419"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "420"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "421"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "422"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "423"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "424"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "425"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "426"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "427"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "428"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "429"
    .field
      = form.check_box :pos_1
      = form.label :pos_1, "430"

  .field
    %a.submit-bonuses(href="") Log Bonuses
    //%a.submit-bonuses(href="") All bonuses have been logged

%table#teams
  %thead
    %tr
      %th.center_align POS#
      %th.center_align When
      %th.center_align Since
      %th.center_align Type
      %th.center_align Amt
      %th.center_align Tot
      %th Team Name
      %th
  %tbody.stripe#points
    = render @bonuses



:plain
  <script type="text/x-jquery-template" title="pointRow">
    <tr class="pending" id="<%= self.id %>">
      <td class="center_align"><%= fixed_number_or_empty(self['point[team_position]']) %></td>
      <td class="center_align sort"><%= self['point[since_start]'] %></td>
      <td class="center_align"></td>
      <td class="center_align"><%= self['point[category]'] %></td>
      <td class="center_align"><%= self['point[qty]'] %></td>
      <td>Saving...</td>
      <td></td>
      <td></td>
    </tr>
  </script>

= content_for :js do
  = javascript_include_tag "points"
  :erb
    <script type="text/javascript">
      window.raceStart = new Date($(".countstart").attr("data-countstart")).valueOf();
    </script>
