%table#teams.point-tracker
  %thead
    %tr
      %th.center_align POS#
      %th.center_align When
      %th.center_align Since
      %th.center_align Type
      %th.center_align Amt
      %th.center_align Tot
      %th Team Name
      %th
  %tbody.stripe#points
    = render @points
 
:plain
  <script type="text/x-jquery-template" title="pointRow">
    <tr class="pending" id="<%= self.id %>">
      <td class="center_align"><%= fixed_number_or_empty(self['point[team_position]']) %></td>
      <td class="center_align sort"><%= self['point[since_start]'] %></td>
      <td class="center_align"></td>
      <td class="center_align"><%= self['point[category]'] %></td>
      <td class="center_align"><%= self['point[qty]'] %></td>
      <td>Saving...</td>
      <td></td>
      <td></td>
    </tr>
  </script>

= content_for :sidebar do
  %h4 Lap Logger
  = form_for @lap, :html => { :id => "new_lap", :autocomplete => "off" } do |form|
    .calculator#laps
      = form.hidden_field :qty
      = form.hidden_field :category
      = form.hidden_field :since_start
      .field.team-input
        = form.label :team_position, "Input Team Number:", for: "lap_team_position"
        = form.text_field :team_position, tabindex: 1, id: "lap_team_position", type: "number", class: "text"
      .field.team-submit
        .ok-wrapper
          = form.submit "OK"
  
  %h4
    Bonus Points
    \-
    = link_to "Forms", bonuses_points_path, class: "ceebox"
  = form_for @bonus, :html => { :id => "new_bonus", :autocomplete => "off" } do |form|
    .calculator#bonus
      = form.hidden_field :category
      = form.hidden_field :since_start
      = form.hidden_field :qty
      .field
        .field.bonus-input
          = form.label :team_position, "POS#", for: "bonus_team_position"
          = form.text_field :team_position, tabindex: 11, id: "bonus_team_position", type: "number", class: "text"
        .field.bonus-input
          = form.label :bonus_id, "Bonus#"
          = form.text_field :bonus_id, :tabindex => 12, type: "number", class: "text"
        .field.bonus-submit
          .ok-wrapper
            = form.submit "OK"
  
  %h4 Penalty Points
  = form_for @penalty, :html => { :id => "new_penalty", :autocomplete => "off" } do |form|
    .calculator#penalty
      = form.hidden_field :category
      = form.hidden_field :since_start
      .field
        .field.bonus-input
          = form.label :team_position, "POS#", for: "penalty_team_position"
          = form.text_field :team_position, :tabindex => 21, id: "penalty_team_position", type: "number", class: "text"
        .field.bonus-input
          = form.label :qty, "Points", for: "penalty_qty"
          = form.text_field :qty, :tabindex => 22, id: "penalty_qty", type: "number", class: "text"
        .field.bonus-submit
          .ok-wrapper
            = form.submit "OK"

= content_for :js do
  = javascript_include_tag "points"
  :erb
    <script type="text/javascript">
      window.raceStart = new Date($(".countstart").attr("data-countstart")).valueOf();
      window.bonuses = {
        store: <%= raw @race.bonuses.to_json %>,
        qty_for_id: function(bonus_id) {
          return parseInt(this.store[bonus_id].points);
        }
      };
    </script>
