!!!
%html
  %head
    = stylesheet_link_tag "theme/application"
    = javascript_include_tag "jquery", "input"

  %body
    - if flash[:notice]
      #flash_notice= flash[:notice]
    - if flash[:error]
      #flash_error= flash[:error]
    
    #pad
      - form_for @lap, :url => create_input_path do |form|
        = form.text_field :team_number
      - (1..9).to_a.in_groups_of(3) do |triplet|
        - triplet.each do |number|
          %a.number.left{:href => "#", :"data-value" => number.to_s}= number
        .clear
      %a#cl.left{:href => "#"} &laquo;
      %a.number.left{:href => "#", :"data-value" => "0"} 0
      %a#ok.left{:href => "#"} OK
      .clear
