<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
  <title><%=h page_title %></title>
  <%= page_header %>
  <!--CSS-->
    <%= stylesheet_link_tag '/stylesheets/theme/application.css', :media => 'all' %>
    <%= stylesheet_link_tag '/stylesheets/theme/form.css', :media => 'all' %>
    <!--[if IE 7]>
      <link href='/stylesheets/theme/ie7.css' type='text/css' />
    <![endif]-->
    <!--[if IE 6]>
      <link href='/stylesheets/theme/ie6.css' type='text/css' />
    <![endif]-->
  <!--favicon-->
    <link href='/favicon.png' rel='shortcut icon' type='image/x-icon' />
  <!--js-->
    <script src="/javascripts/ajax.js" type="text/javascript"></script>
    <script type="text/javascript">
      function update_date() {
      	var oneMinute = 60 * 1000 
      	var oneHour = oneMinute * 60
      	var oneDay = oneHour * 24
      	var oneYear = oneDay * 365

      	today = new Date().valueOf()
      	target = new Date('7/24/2009 19:00').valueOf()

      	diff = target - today

      	countdownDays = Math.floor(diff / oneDay)
      	countdownHours = Math.floor(diff % oneDay / oneHour)
      	countdownMinutes = Math.floor(diff % oneHour / oneMinute)
      	countdownSeconds = Math.floor(diff % oneMinute / 1000)

      	$('days').innerHTML = countdownDays < 10 ? '0'+countdownDays.toString() : countdownDays
      	$('hrs').innerHTML = countdownHours < 10 ? '0'+countdownHours.toString() : countdownHours
      	$('min').innerHTML = countdownMinutes < 10 ? '0'+countdownMinutes.toString() : countdownMinutes
      	$('sec').innerHTML = countdownSeconds < 10 ? '0'+countdownSeconds.toString() : countdownSeconds
      }

      var countdown = self.setInterval("update_date()",1000)
    </script>
</head>

<body>
<div class="outer-container">
  <div id="countdown">
    <h4>Friday-Saturday July 24-5, 2009, 7pm</h4>
    <div class="clear"></div>
  </div>
  <div id="header_container">
    <div class="header">
      <a href="/" id="logo"></a>
  		<div class="title left">
    		<h1 class="sitename"><%= link_to this_blog.blog_name, "/" %></h1>
    		<div class="slogan"><%= this_blog.blog_subtitle %></div>
  		</div>
  	  <p id="intro" class="left">The race starts in
  	    <span class="cd" id="days">00</span> days, 
  	    <span class="cd" id="hrs">00</span> hours, 
  	    <span class="cd" id="min">00</span> minutes, and 
  	    <span class="cd" id="sec">00</span> seconds.
  	  </p>
  		<div class="clear"></div>
  	</div>
  </div>
	<div id="path_container">
    <div class="path">
        <ul>
            <!--<li class="page_item <%= 'current_page_item' if (controller.action_name != 'index' and controller.action_name != 'view_page') %>">
                <%= link_to _("Articles"), {:controller => "articles", :action => "archives"} if (controller.controller_name != "index" )%>
            </li>-->
            <li class="page_item <%= 'current_page_item' if (params[:name].to_s == 'about') %>">
                <%= link_to _("About RW24"), "/pages/about" %>
            </li>
            <li class="page_item <%= 'current_page_item' if (params[:name].to_s == 'register') %>">
                <%= link_to _("Register"), "/register" %>
            </li>
            <li class="page_item <%= 'current_page_item' if (params[:name].to_s == 'volunteer') %>">
                <%= link_to _("Volunteer"), "/volunteer" %>
            </li>
            <li class="page_item <%= 'current_page_item' if (params[:name].to_s == 'sponsor') %>">
                <%= link_to _("Sponsor"), "/sponsor" %>
            </li>
            <li class="page_item <%= 'current_page_item' if (params[:name].to_s == 'contact') %>">
                <%= link_to _("Contact"), "/pages/contact" %>
            </li>
            <!--
            <li class="page_item post">
              <%= link_to _("Write a Post"), "/admin" %>
            </li>
            -->
        </ul>
    </div>
  </div>
  <div id="inner">
	  <div class="inner-container">
    	<div class="main">
      	<div id="content">
      	  
      	  
        	<%= @content_for_layout %>
        	<%= javascript_tag 'show_dates_as_local_time()' %>
      	</div>

      	  <div id="sidebar"> 	        
          	<!--<%= render :partial => 'shared/search' %>-->
          	<%= render_sidebars %>
        	</div>

      	<br style="clear:both;" />
    	</div>
    </div>
	</div>
	<div id="footer">
	  <div id="footer_content">
  	  <div class="left">
        <%= link_to ('Admin', '/admin', :target => "blank") %>
  		</div>
  		<div class="right">
  		  <span>&copy; Copyright 2009 - All rights Reserved</span>
  		</div>
  		<div class="clearer"></div>
  	</div>
	</div>
</div>

</body>
</html>
