%h2
  = params[:action].titleize
  Bonus
  = @bonus.id

= form_for [:admin, @site, @race, @bonus] do |form|
  %p
    = form.label :name
    = form.text_field :name

  %p
    = form.label :points
    = form.text_field :points

  %br

  %p
    %input(type="submit" value="#{@bonus.new_record? ? "Create Bonus" : "Update Bonus"}")
    = link_to "cancel", [:edit, :admin, @site, @race]

:coffeescript
  $ ->
    $("#bonus_name").focus()
