= form_for [:admin, @site, @race, @bonus] do |form|
  %p
    = form.label :name
    = form.text_field :name

  %p
    = form.label :points
    = form.text_field :points

  %p
    = form.submit
    = link_to "cancel", [:edit, :admin, @site, @race]

:coffeescript
  $ ->
    $("#bonus_name").focus()
