%h2 Bonus ##{@bonus.id} - #{@bonus.name}
%table#bonus-view
  - @bonuses.each do |bonus|
    %tr[bonus]
      %th= bonus.team_position
      %td= bonus.team_name
      %td= bonus.qty
      %td= link_to "Delete", point_path(bonus), class: "delete", method: :delete, data: { confirm: "Are you sure?" }

:coffeescript
  $ ->
    $("a.delete").click ->
      if confirm($(this).attr('data-confirm'))
        id = $(this).parents("tr").attr("id")
        $.ajax
          type: 'POST'
          url: this.href
          data: { _method: "DELETE" }
          dataType: "text"
          retry: true
          success: ->
            $("#"+id).remove()

          error: ->
            $("#"+id).addClass("failed")
              .find("td:last-child").html('<a href="#" onclick="$(this).parent().parent().remove(); return false;">Clear</a>')
              .prev().prev().html("Couldn't delete")
   
      false
        
