%h1== Laps for #{@team.name}

%table
  %tr
    %th Lap
    %th Time
  - @laps.each_with_index do |lap, index|
    %tr
      %td= index+1
      %td= lap.created_at.to_s(:short)
      - if admin?
        %td= link_to "", [:edit, @team, lap], :class => "edit"
        %td= link_to "", [@team, lap], :method => "delete", :class => "delete"
%br
=link_to "&laquo;&nbsp;Back to the Boards", "/teams"
