%h2 2010 Registration Form

%p
  %strong Things to know before you fill this out:
%ul
  %li You MUST be 18 years old to ride.
  %li You MUST wear a helmet.
  %li You MUST have front AND back lights while riding at night.
  %li $20/rider.

- form_for @registration do |form|
  - form.fields_for :team do |team_form|
    %fieldset
      %h4 Team Information
      .field
        = team_form.text_field :name, :label => "Team Name"
        %em ( appears on scorecard)
      
      .field
        = team_form.label :category_a_team, "A Team"
        = team_form.radio_button :category, "A Team"
        %em ( 2-6 Riders / 1 Bicycle )
      .field
        = team_form.label :category_b_team, "B Team"
        = team_form.radio_button :category, "B Team"
        %em ( 2-6 Riders / Multiple Bicycles )
      .field
        = team_form.label :category_solo, "Solo"
        = team_form.radio_button :category, "Solo"
        %em ( 1 Rider / 1 Bicycle )
      .field 
        = team_form.label :category_tandem, "Tandem"
        = team_form.radio_button :category, "Tandem"
        %em ( 2 Riders / 1 Bicycle )

    %fieldset
      %h4 Rider Information
      - i = 1
      - team_form.fields_for :riders do |rider_form|
        .field
          %label Rider #{i}
          %span.hide_labels
            = rider_form.text_field :name, :label => "Rider #{i} Name"
            = rider_form.text_field :email, :label => "Rider #{i} Email"
        - i += 1
        /
          %input.text{:type => "text", :value => "Name (Team Leader)"}
          %input.text{:type => "text", :value => "Email"}

    %fieldset
      %h4 Team Leader Contact Information
      .field
        = team_form.text_field :address, :class => "lg", :label => true
      .field
        = team_form.label :line_2, "Line 2", :class => "opt"
        = team_form.text_field :line_2, :class => "lg"
      .field
        = team_form.text_field :phone, :label => true
        %em xxx-xxx-xxx
        
    - team_form.fields_for :shirts do |shirts_form|
      %fieldset
        %h4 Shirts
        .field
          - %w(sm med lg xlg).each do |size|
            = shirts_form.select size.to_sym, (1..6).to_a, { :include_blank => "--" }, :class => "sm", :label => true

  %fieldset
    %hr
    %p 
      %strong Registration costs $20 per rider. 
      500 rider limit. All team members must be signed up before the limit is reached. You will be notified of team number by email. 
    %p
      Questions: email 
      = mail_to "registration@riverwest24.com"
    %input.submit{:type => "submit", :value => "Continue to Payment"}
  
- content_for :sidebar do
  = render "shared/sidebar"

- content_for :js do
  = javascript_include_merged :registration

- content_for :css do
  %style{ :type => "text/css" }
    :sass
      .hide_labels label
        display: none
