%h3 Section Title
%ul
  %li= link_to_current "Article", "#"
  %li= link_to_current "Article", "#"
  %li= link_to_current "Article", "#"

%h3 Connect
%ul#connect
  %li= link_to "Follow us on Twitter", "#", :id => "twitter"
  %li= link_to "Become a Fan on Facebook", "#", :id => "facebook"