- if @section.contents.published.length > 1
  %h3= h @section.title
  %ul
    - @section.contents.published.select(&:root?).each do |content|
      %li= link_to_current h(content.title), content_path(@section, content), :if => content == @article

- if @article.try(:permalink) == "home"
  %h3 Are you ready?
  %ul.quicklinks
    %li= link_to "Register Online", "/join/registrations"
    %li= link_to "Read the Rules", "/about/articles/rules"
    %li= link_to "Volunteer to help", "/join/articles/volunteer"
    %li= link_to "Become a Sponsor", "/join/articles/sponsor"

%a.button{:href => "/join/articles/volunteer"}
  Want to Help?


%h3 Connect
%ul#connect
  %li= link_to "Follow us on Twitter", "#", :id => "twitter"
  %li= link_to "Become a Fan on Facebook", "#", :id => "facebook"
%br
%p.center_align
  %img{:src => "/images/photos/tattoo.jpg"}
  %br
  %em Photo by Peter DiAntoni
