%h1 Listing racers

= link_to "+ Sign up racer(s)", new_racer_path

%table
  %tr
    %th name
    %th pos
    %th class
    %th shirt
    %th team
    %th payment received
    %th type
    %th email
    %th phone
    %th confirmation
    %th notes

  - @racers.each do |racer|
    %tr
      %td=h racer.name
      %td= racer.team.number
      %td= racer.team.team_type
      %td=h racer.shirt
      %td=h racer.team.name
      %td= racer.payment_received_on
      %td=h racer.payment_type
      %td=h racer.email
      %td=h racer.phone
      %td= racer.confirmed_on
      %td=h racer.notes
      %td
        = link_to "edit", [:edit, racer]
        = link_to "delete", racer, :method => "delete"
        
= link_to "+ Sign up racer(s)", new_racer_path
