%h2 Riverwest 24 is a community event 
%h3 that has as its goal to build our neighborhood. 
%img{:src => "http://farm3.static.flickr.com/2486/3760800462_8194edf18f.jpg", :align => "right", :width => "360", :height => "240"}
%p By encouraging bikers and spectators to come out for a full day we hope to show off Milwaukee’s Riverwest neighborhood and encourage biking in an urban environment.
%p
  To keep informed on race details and registration, check back here from time to time, become a RW24 fan on facebook, or follow RW24 on twitter
%p
  Through this exercise in stamina, team work and merriment we hope to build an event that all people in Milwaukee and beyond can enjoy by participating in, volunteering for or by cheering on the riders.
%p
  This is an event for anyone who wants to participate.  You don’t need to be a bike racer to join in.  Check out the race route, call your neighbors, grab some lawn chairs and join us this July!  This race is for people who enjoy biking, want to push themselves, or just want to participate in an event that is like nothing else you have encountered.  Even if you think you aren’t ready to ride for 24 hours, you can split it up with a team.  There are also many opportunities to help other ways.  Check ourvolunteerpage.
%img{:src => "http://riverwest24.com/files/Image/miner_jeremy_web.jpg", :align => "left"}
%p
  The RW24 was born through community block watches throughout Riverwest.  It is a way for our neighborhood to welcome new people, strengthen relationships within the community (and beyond), and show everyone why Riverwest is amazing.  From riders to volunteers, organizers to community sponsors, everyone brings a different talent and interest to the table.  There is no way a few people talking about a bike race in their back yards could have come up with something like this.  A whole neighborhood made this.  I’m sure I speak for everyone when I say, 
  %strong VIVA LA RIVERWEST!
%p
  Take some time and wander around our site.  Most of your questions will be answered as well as get you excited for this year.  Keep an eye on ourblogfor updates.  
  = link_to "Follow us on twitter @riverwest24", "#", :target => "_blank"
%p
  If you do have any questions (or suggestions) please direct them to the emails on thecontact page.There is a network of people covering many astects of the race. If you don’t know who to contact please email 
  = mail_to "info@riverwest24.com"
  and we will direct you to the right person. 
%blockquote
  Please – Email us your pictures, memories, video, impressions and essays.  If you upload anything to the internet, tag it with RW24 2009 so that EVERYONE can find it all easily.  On twitter use #RW24.  Upload your pictures to our Facebook event page.  Start dreaming about how YOUR block will make RW24 2010 even better.
%h3
  Do you want to volunteer?  Have an idea for a bonus checkpoint?  Let us know!

- content_for :sidebar do
  %h3 About
  %ul
    %li= link_to_current "Overview", "/about"
    %li= link_to_current "History", "/about/history"
    %li= link_to_current "Rules", "/about/rules"
  %h3 Connect
  %ul
    %li= link_to "Follow us on Twitter", "#"
    %li= link_to "Become a Fan on Facebook", "#"