- content_for :js do
  = javascript_include_tag 'jquery', 'register_form'

#viewpage
  %h2 Register to Ride
  
  %form{ :action => "/register/deliver" }
    %fieldset
      .field
        %p.inline A fee of 
        %strong $20 per rider
        %p.inline is required to provide a hand screen printed t-shirt, custom high quality water bottle, dinner on Friday, breakfast on Saturday, port o potties, checkpoint water and vittles.
        %br
        %br
        %p.inline We are preparing supplies for a limited number of racers.  Sign up early.  You can still race if you sign up late, but we may not have shirts, bottles, or meals.  It makes it easier on you, it makes it easier on us, it ensures everyone has meals and t-shirts.
        %strong Please sign up early.
        %br
        %br
        %p.inline The RW24 is community organized and not for profit. Maybe we will break even, maybe not (we took a loss last year).  If there is extra money after the race, it will be used as seed money next year to keep the race sustainable and repeatable. Email 
        %a.inline{:href => "mailto: finance@riverwest24.com"} finance@riverwest24.com 
        %p.inline with any questions.
        %br
        %br
        
        %label{ :for => "name" } team name
        %input{ :name => "name", :type => "text" }
        .clear

      .field
        %label{ :for => "email" } email
        %input{ :name => "email", :type => "text" }
        .clear

      .field
        %label{ :for => "phone" } phone
        %input{ :name => "phone", :type => "text" }
        .clear

      .field
        %label{ :for => "class" } rider class
        
        %input{ :name => "class", :value => "Solo", :data_div => "#solo_desc", :type => "radio", :checked => "checked" }
        %p Solo
        
        %input{ :name => "class", :value => "Tandem", :data_div => "#tandem_desc", :type => "radio" }
        %p Tandem
        
        %input{ :name => "class", :value => "Team A", :data_div => "#teamA_desc", :type => "radio" }
        %p Team A
        
        %input{ :name => "class", :value => "Team B", :data_div => "#teamB_desc", :type => "radio" }
        %p Team B
        
        .clear

      #number.field{ :style => "display: none" }
        %label{ :for => "number" } no. of riders
        
        - 1.upto(6) do |i|
          %input{ :name => "number", :value => i, :type => "radio", :checked => i == 3 ? "checked" : nil}
          %p= i
        
        .clear

      #solo_desc.field
        .dots_bottom

        %p Solo: 1 rider/ 1 bicycle

        .dots_bottom

        %label{ :for => "captain" } captain’s name
        %input{ :name => "captain", :type => "text" }
        .clear

      #tandem_desc.field{ :style => "display: none" }

        .dots_bottom

        %p Tandem: 2 riders/ 1 tandem bicycle
        
        .dots_bottom

        %label{ :for => "captainT" } captain’s name
        %input{ :name => "captainT", :type => "text" }
        .clear

        %label{ :for => "rider_twoT" } rider 2
        %input{ :name => "rider_twoT", :type => "text" }
        .clear

      #teamA_desc.field{ :style => "display: none" }

        .dots_bottom

        %p Team A: 2-6 riders/ 1 bicycle
        
        .dots_bottom

        %label{ :for => "captainA" } captain’s name
        %input{ :name => "captainA", :type => "text" }
        .clear

        - 2.upto(6) do |i|
          %div{ :id => "teamA_rider_#{i}", :style => i > 3 ? "display: none" : nil}
            %label{ :for => "rider_#{i}A" }== rider #{i}
            %input{ :name => "rider_#{i}A", :type => "text" }
            .clear

      #teamB_desc.field{ :style => "display: none" }

        .dots_bottom

        %p Team B: 2-6 riders/ more than 1 bicycle

        .dots_bottom

        %label{ :for => "captainB" } captain’s name
        %input{ :name => "captainB", :type => "text" }
        .clear

        - 2.upto(6) do |i|
          %div{ :id => "teamB_rider_#{i}",  :style => i > 3 ? "display: none" : nil }
            %label{ :for => "rider_#{i}B" }== rider #{i}
            %input{ :name => "rider_#{i}B", :type => "text" }
            .clear

      .dots_bottom.black

      .field.center
        %strong
          Total : (<span id="qty">1</span>) riders = $<span id="total">20</span>.00

        %input#paypal.center{ :name => "submit", :src => "/images/paypal.gif", :border => "0", :type => "image", :alt => "PayPal - The safer, easier way to pay online!" }
        .clear
