- raise "got here"
%table.list{:width => "100%"}
  %col{:width => "5%"}
  %col{:width => "5%"}
  %col{:width => "*"}
  %col{:width => "10%"}
  %col{:width => "30%"}
  %col{:width => "15%"}
  %thead
    %tr
      %th.right_align{ :scope => "col"} POS#
      %th.center_align{ :scope => "col"} Class
      %th{ :scope => "col" } Rider Name
      %th.center_align{ :scope => "col" } Riders
      %th{ :scope => "col" } Leader Name
      %th.actions{ :scope => "col" }
  %tbody
    - @riders.each do |rider|
      %tr
        %td.center_align= rider.id
        %td.center_align=h rider.category_abbrev
        %td= link_to h(rider.name), edit_admin_rider_path(@site, rider)
        %td.center_align= rider.riders.count
        %td=h rider.captain.name
        %td.actions
          = link_to "Edit", edit_admin_rider_path(@site, rider), :class => "edit"
          = link_to "Delete", admin_rider_path(@site, rider), class: 'delete', method: :delete, data: { confirm: t(:'adva.rider.confirm_delete') }

