= form.label :shirt_sizes
= form.fields_for :shirt_sizes do |shirt_sizes_form|
  .shirt-fields
    .field
      = shirt_sizes_form.label :small, "S"
      = shirt_sizes_form.number_field :small
    .field
      = shirt_sizes_form.label :medium, "M"
      = shirt_sizes_form.number_field :medium
    .field
      = shirt_sizes_form.label :large, "L"
      = shirt_sizes_form.number_field :large
    .field
      = shirt_sizes_form.label :x_large, "XL"
      = shirt_sizes_form.number_field :x_large
    .field
      = shirt_sizes_form.label :xxx_large, "XXXL"
      = shirt_sizes_form.number_field :xxx_large

