%h2 #{@race.year} Teams

= form_tag send_confirmation_emails_admin_site_race_teams_path(@site, @race) do
  %input(type="submit" value="Send Confirmation Emails to Selected")
  %p
    Select
    %a#select_all(href="#") all
    \/
    %a#select_not_emailed(href="#") not emailed
    \/
    %a#select_none(href="#") none

  %table.list{:width => "100%"}
    %col{:width => "5%"}
    %col{:width => "5%"}
    %col{:width => "5%"}
    %col{:width => "5%"}
    %col{:width => "5%"}
    %col{:width => "*"}
    %col{:width => "10%"}
    %col{:width => "30%"}
    %col{:width => "15%"}
    %thead
      %tr
        %th{ :scope => "col" }
        %th.center_align{ :scope => "col"} Paid
        %th.center_align{ :scope => "col"} Emailed
        %th.right_align{ :scope => "col"} POS#
        %th.center_align{ :scope => "col"} Class
        %th{ :scope => "col" } Team Name
        %th.center_align{ :scope => "col" } Riders
        %th{ :scope => "col" } Leader Name
        %th.actions{ :scope => "col" }
    %tbody
      - @teams.each do |team|
        %tr
          %td.center_align
            %label{ :for => "team_#{team.id}", :style => "display: none" }= team.name
            %input{ :type => "checkbox", :name => "team_ids[]", :value => team.id, :id => "team_#{team.id}" }
          %td.center_align
            - if team.paid?
              .paid Yes
            - elsif team.partially_paid?
              == #{team.riders.paid.count}/#{team.riders.count}
            - else
              .unpaid No
          %td.center_align
            - if team.emailed?
              .emailed Yes
            - else
              .not_emailed No
          %td.center_align= team.position
          %td.center_align=h team.category_abbrev
          %td= link_to h(team.name), [:edit, :admin, @site, @race, team]
          %td.center_align= team.riders.count
          %td
            - if team.captain
              = mail_to team.captain.email, h(team.captain.name), :cc => team.lieutenant_emails, :subject => team.position_and_name
            - else 
              = team.name
          %td.actions
            = link_to "Edit", [:edit, :admin, @site, @race, team], :class => "edit"
            = link_to "Delete", [:admin, @site, @race, team], :class => 'delete', :method => :delete, :data => { :confirm => 'Are you sure you want to delete this team and all its riders? This will renumber everyone after!' }

  %input(type="submit" value="Send Confirmation Emails to Selected")

- content_for :sidebar do
  .tabs
    .tab.active
      %h3 Totals

      %p
        Teams:
        %b= @race.teams.count
        &nbsp;
        Racers:
        %b= @race.riders.count

      %p
        %ul
          - Team.categories.each do |category|
            %li
              = category
              %b= @race.teams.by_category(category).count

      %p
        Shirts:
        - Rider.shirt_sizes.each do |size|
          = size
          %b= @race.riders.shirt(size).count
