= error_messages_for @team, :object_name => "team"

= form_for @team, :url => [:admin, @site, @race, @team] do |form|
  = form.hidden_field :race_id
  %h2 New Team

  %fieldset
    %h4 Team Information
    .field
      = form.text_field :name, :label => "Team Name", :tabindex => 1
    .field
      = form.select :category, Team.categories, :class => "sm", :label => true, :tabindex => 1

  %fieldset
    %h4 Team Leader Contact Information
    .field
      = form.text_field :address, :class => "lg", :label => true, :tabindex => 5
    .field
      = form.text_field :line_2, :class => "lg", :label => true, :tabindex => 5
    .field
      = form.text_field :city, :class => "med", :label => true, :tabindex => 5
      = form.select :state, State.abbrevs, { :include_blank => "--" }, :class => "sm", :label => true, :tabindex => 5
      = form.text_field :zip, :class => "sm", :label => true, :tabindex => 5
      
  - i = 1
  = form.fields_for :riders do |rider_form|
    %fieldset
      %h4
        Rider #{i}
        = "/ Team Leader" if i == 1
      .field
        = rider_form.text_field :name, :label => true, :tabindex => 2
        = rider_form.select :shirt, Rider.shirt_sizes, { :include_blank => "--" }, :class => "sm", :label => true, :tabindex => 4
      .field
        = rider_form.text_field :email, :label => true, :tabindex => 2
        = rider_form.text_field :phone, :label => true, :tabindex => 7
      .field
        = rider_form.check_box :paid, :label => "Paid?", :tabindex => 6
      .field
        = rider_form.text_field :payment_type, :label => "Payment type", :tabindex => 6
    - i += 1

  %hr

  - save_or_cancel_links form, :cancel_url => [:admin, @site, @race, :teams]
