= error_messages_for @team, object_name: "team"

= form_for [:admin, @site, @race, @team] do |form|
  = form.hidden_field :race_id
  %h2 New / Edit Team

  %fieldset
    %h4 Team Information
    / MICAH - can POS# be set upon team creation?
    .field= form.number_field :position, label: "POS#", class: "xlarge"
    .field= form.select :category, Team.categories, label: true
    .field= form.text_field :name, label: "Team Name", class: "xlarge"
    .field= render "shirt_sizes", form: form

  %fieldset
    .rider-flex
      - i = 1
      = form.fields_for :riders do |rider_form|
        .field
          %fieldset{ id: "rider_#{i}" }
            %h4
              Rider #{i}
              = "/ Team Leader" if i == 1
            .field= rider_form.check_box :paid, label: "Paid?"
            .field= rider_form.text_field :name, label: true
            .field= rider_form.text_field :email, label: true
            .field= rider_form.text_field :phone, label: true
        - i += 1

      / MICAH - IF EDITING, CAN ADD RIDERS UP TO 6?
      /.field= link_to "+ Add a rider", [:new, :admin, @site, @race, @team, :rider]


  %hr

  - save_or_cancel_links form, cancel_url: [:admin, @site, @race, :teams]

