!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "generator", :content => "adva-cms - Open source content management platform" }
    %title
      adva-cms: Admin
      = controller.controller_name

    = stylesheet_link_tag "adva_cms/admin/reset.css"
    = stylesheet_link_tag "adva_cms/admin/layout.css"
    = stylesheet_link_tag "adva_cms/admin/common.css"
    = stylesheet_link_tag "adva_cms/admin/header.css"
    = stylesheet_link_tag "adva_cms/admin/top.css"
    = stylesheet_link_tag "adva_cms/admin/sidebar.css"
    = stylesheet_link_tag "adva_cms/admin/forms.css"
    = stylesheet_link_tag "adva_cms/admin/lists.css"
    = stylesheet_link_tag "adva_cms/admin/content.css"
    = stylesheet_link_tag "adva_cms/admin/themes.css"
    = stylesheet_link_tag "adva_cms/admin/helptip.css"
    = stylesheet_link_tag "adva_cms/admin/users.css"
    = stylesheet_link_tag "adva_cms/jquery/jquery-ui.css"
    = stylesheet_link_tag "adva_cms/jquery/jquery.tooltip.css"
    = stylesheet_link_tag "adva_activity/admin/activities.css"
    = stylesheet_link_tag "adva_comments/admin/comments.css"
    = stylesheet_link_tag "has_filter/filter.css"
    = stylesheet_link_tag "adva_cms/admin/projection.css"
    = stylesheet_link_tag "admin.css"

    = yield :css

    = yield :before_javascript_include
    = javascript_include_tag "adva_cms/jquery/jquery.js"
    = javascript_include_tag "adva_cms/jquery/jquery-lowpro.js"
    = javascript_include_tag "adva_cms/jquery/jquery-ui.js"
    = javascript_include_tag "adva_cms/jquery.common.js"
    = javascript_include_tag "adva_cms/json.js"
    = javascript_include_tag "adva_cms/cookie.js"
    = javascript_include_tag "adva_cms/jquery.flash.js"
    = javascript_include_tag "application.js"
    = javascript_include_tag "adva_cms/admin/jquery.admin.js"
    = javascript_include_tag "adva_cms/jquery/jquery.tablednd_0_5.js"
    = javascript_include_tag "adva_cms/jquery/jquery.table_tree.js"
    = javascript_include_tag "adva_cms/admin/jquery.table_tree.js"
    = javascript_include_tag "adva_cms/admin/jquery.article.js"
    = javascript_include_tag "adva_cms/admin/jquery.cached_pages.js"
    = javascript_include_tag "adva_cms/jquery/jquery.qtip.min.js"
    = javascript_include_tag "has_filter/jquery.filter.js"
    = javascript_include_tag "adva_fckeditor/fckeditor/fckeditor.js"
    = javascript_include_tag "adva_fckeditor/setup_fckeditor.js"
    = javascript_include_tag "adva_cms/admin/select_all_none.js"
    = javascript_tag "window._auth_token = #{form_authenticity_token.inspect}"

    = yield :js

    = yield :head

  %body
    = @menu.build(self).root.render(:id => 'top')
    = render :partial => 'admin/shared/header'
    #page
      = yield :form if content_for :form
      .main
        = @menu.root.find(:main).try(:render, :id => 'main_menu')
        = render :partial => 'shared/flash'
        #content
          = yield
      #sidebar.right
        = yield :sidebar
      = raw('</form>') if content_for :form
      #left.collapsed
