!!!
%html{html_attrs('en-US')}
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    = csrf_meta_tag
    %title
      Riverwest 24
      = yield :title
    %meta(name="keywords" content="")
    %meta(name="description" content="")

    = stylesheet_link_tag "application"
    = yield :css
    /[if lte IE 9]
      = stylesheet_link_tag "ie"
    /[if lte IE 7]
      = stylesheet_link_tag "ie7"
    %meta{:name => "viewport", :content => "width=device-width"}
    %link(rel="shortcut icon" href="#{image_path("/favicon.png")}" type="image/png")

  %body
    %header
      .container
        %a.rw24-logo{:href => "/"}
        .title
          %h1 Riverwest 24
          %h2 Hour Bike Race
          %span.countstart{:data => { :countstart => start_time.to_s(:rfc822) } }
            = start_time_format start_time
        #countdown{ :style => "visibility: hidden" }
          %p.countup The ride starts in:
          %p.countdown{ :style => "display: none" } It's on! The ride has been going for:
          #day
            %b 00
            %span days
          #hrs
            %b 00
            %span hrs
          #min
            %b 00
            %span min
          #sec
            %b 00
            %span sec

        %ul.nav
          - @site.sections.select(&:published?).each_with_index do |section, index|
            - if index == 1
              %li
                = link_to_current "Leaderboards", leader_board_path(Race.last.year), :if => request.fullpath.starts_with?("/leader-board")
                %ul
                  - Race.published.each do |race|
                    %li= link_to_current race.year, leader_board_path(race.year)
            %li
              = link_to_current section.title, [section, section.contents.published.first], :if => request.fullpath.starts_with?("/#{section.permalink}")
              - next unless section.contents.published.length > 1
              %ul
                - section.contents.published.select(&:root?).each do |content|
                  %li= link_to_current content.title, [section, content]
    %section.main
      .container
        - if flash[:notice]
          #flash_notice= flash[:notice]
        - if flash[:error]
          #flash_error= flash[:error]

        - if content_for? :sidebar
          %article
            = yield
          %aside
            = yield :sidebar
        - else
          %article.full
            = yield
    %footer
      .container
        %p
          - @site.sections.all.each_with_index do |section, index|
            = link_to h(section.title), section
            = "|" if index < @site.sections.length - 1
        %p
          Riverwest - Milwaukee, WI
        %p
          &copy; Copyright #{Date.today.year} - All Rights Reserved 
        %p
          = mail_to "info@riverwest24.com"

    = javascript_include_tag "application"
    = yield :js
