!!!
%html{html_attrs('en-US')}
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %title
      riverwest24
      = yield :title
    %meta(name="keywords" content="")
    %meta(name="description" content="")

    = stylesheet_link_merged :base
    = yield :css
    /[if lte IE 7]
      = stylesheet_link_merged :ie
      
    %link(rel="shortcut icon" href="#{image_path("/favicon.png")}" type="image/png")

  %body
    #container
      #header
        .container
          %h1#logo
            %a{:href => "/"} Riverwest 24
          #title
            %h1 Riverwest 24
            %h2 Hour Bike Race
            %span July 30-31, 2010 | 7pm-7pm
          #countdown{ :style => "visibility: hidden" }
            %p.countup The race starts in:
            %p.countdown{ :style => "display: none" } It's on! The race has been going for:
            #day
              %b 00
              %span days
            #hrs
              %b 00
              %span hrs
            #min
              %b 00
              %span min
            #sec
              %b 00
              %span sec
          %ul#nav
            - @site.sections.select(&:published?).each_with_index do |section, index|
              %li
                = link_to_current h(section.title), section_path(section), :if => request.request_uri.starts_with?("/#{section.permalink}")
                - next unless section.contents.published.length > 1
                %ul
                  - section.contents.published.select(&:root?).each do |content|
                    %li= link_to_current h(content.title), content_path(section, content)
            %li#race
              = link_to "Race 2010", "/leader-board"
              %ul
                %li
                  = link_to "Leader Board", "/leader-board"
      #main
        .container
          - if flash[:notice]
            #flash_notice= flash[:notice]
          - if flash[:error]
            #flash_error= flash[:error]
          #content
            = yield
          #sidebar
            = yield :sidebar
      #footer
        .container
          %p
            - @site.sections.all.each_with_index do |section, index|
              = link_to h(section.title), section_path(section)
              = "|" if index < @site.sections.length - 1
          %p
            Riverwest - Milwaukee, WI
          %p
            &copy; Copyright #{Date.today.year} - All Rights Reserved 
          %p
            = mail_to "info@riverwest24.com"
          

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_merged :base
    = yield :js
