%h2 CREATE PROFILE

%fieldset.registration-form
  = form_for @user, url: account_path do |form|
    = form.invisible_captcha :homepage

    .flex
      .field
        = form.label :email, "Email address"
        = form.email_field :email, required: true
      .field
        = form.label :first_name
        = form.text_field :first_name
      .field
        = form.label :last_name
        = form.text_field :last_name

    .flex
      .field
        = form.label :phone
        = form.text_field :phone
      .field
        = form.label :shirt_size
        = form.select :shirt_size, current_race.shirt_sizes, include_blank: true

    .flex
      .field
        = form.label :password
        = form.password_field :password, required: true
      .field
        = form.label :confirm_password
        = form.password_field :confirm_password, required: true

    .actions-field
      = form.submit "Create Rider Profile"

